/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin: 0;
	padding: 0;
	/*background: #001a1a repeat-x;*/ 
	background: url(images/img01.jpg) repeat-x;
	font: normal small Arial, Helvetica, sans-serif;
	line-height: 1.8em;
	color: #00b3b3;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	color: #ccfff2;
}

h2 {
	padding-left: 20px;
	/*background: url(images/img07.gif) no-repeat left center;*/
	font-size: 22px;
}

h3 {
	margin-bottom: 1em;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: .9em;
	font-weight: bold;
}

p, blockquote, ul, ol {
	margin-top: 0;
}

blockquote {
	padding: 0 0 0 40px;
	/*background: url(images/img11.gif) no-repeat;*/
	/*background: #004d4d no-repeat;*/
	font: italic small Georgia, "Times New Roman", Times, serif;
	line-height: 1.6em;
}

a {
	/*background: url(images/img03.gif) repeat-x left bottom;*/
	text-decoration: none;
	/*background: #001a1a;*/
	color: #ccfff2;
}

a:hover {
	background: none;
	text-decoration: underline;
}

/* Wrapper */

#wrapper {
	/*background: #004d4d repeat-x left bottom;*/ 
	/*background: url(images/img04.gif) repeat-x left bottom;*/
}

/* Menu */

#menu {
	width: 750px;
	height: 60px;
	margin: 0 auto;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#menu li {
	display: block;
	float: left;
	width: 148px;
	height: 60px;
	padding: 0 0 0 2px;
	/*background: #001a1a;*/
	/*background: url(images/img02.gif) no-repeat;*/
}

#menu a {
	display: block;
	width: 108px;
	height: 36px;
	padding: 20px 20px 0 20px;
	background: none;
	letter-spacing: -1px;
	font: normal 1.6em Georgia, "Times New Roman", Times, serif;
	color: #00b3b3;
}

#menu a:hover {
	border-bottom: 4px solid #5A7C50;
	text-decoration: none;
	color: #00b3b3;
}

#menu .active a {
	/*background: #004d4d;*/
	border-bottom: 4px solid #E1E9E2;
	text-decoration: none;
	color: #ccfff2;
}

/* Header */

#header {
	width: 754px;
	height: 247px;
	margin: 0 auto;
	padding: 13px 0 0 0;
}

#header h1 {
	float: left;
	width: 104px;
	height: 110px;
	padding: 104px 100px 0 20px;
	background: url(images/img05.jpg) no-repeat;
	line-height: 32px;
	font-size: 30px;
}

#header h2 {
	float: right;
	width: 494px;
	height: 34px;
	padding: 180px 20px 0 0;
	background: url(images/img06.jpg) no-repeat;
	text-transform: lowercase;
	text-align: right;
	letter-spacing: -1px;
	font-size: 22px;
	/*color: #FFFFFF;*/
}

/* Content */

#content {
	width: 750px;
	margin: 0 auto;
}

/* Posts */

#posts {
	float: right;
	width: 510px;
}

#posts .post {
	padding-bottom: 30px;
}

#posts .story {
	padding: 15px 20px 0 20px;
	/*background: url(images/img10.gif) repeat-x*/
	/*background: #004d4d;*/
}

#posts .meta {
	padding: 5px 0 0 20px;
	/*background: url(images/img03.gif) repeat-x;*/
	/*background: #004d4d;*/
}

#posts .meta p {
	margin: 0;
	line-height: normal;
	font-size: smaller;
}

#posts ul {
	list-style: url(images/img12.gif);
}

#posts ul li {
	/*background-color: #004d4d;*/
}

/* Links */

#links {
	float: left;
	width: 220px;
	/*background-color: #004d4d;*/
}

#links ul {
	margin: 0;
	padding: 0;
	list-style: none;
	/*background-color: #004d4d;*/
}

#links li ul {
	padding: 15px 20px 30px 20px;
	/*background: url(images/img10.gif) repeat-x*/
	/*ackground: #004d4d;*/
}

#links li li {
	padding: 3px 0;
	/*background: url(images/img03.gif) repeat-x left bottom;*/
	/*background: #004d4d;*/
}

#links li a {
	/*background: none;*/
	/*background-color: #004d4d;*/
}

#links li i {
	font-size: smaller;
	/*background-color: #004d4d;*/
}

/* Footer */

#footer {
	padding: 40px 0 60px 0;
	/*background: url(images/img08.gif) repeat-x;*/
	background: url(images/img01.jpg) repeat-x;
	/*background: #001a1a;*/
}

#footer p {
	width: 750px;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #00b3b3;
}

#footer a {
	/*background: none;*/
	/*background: #001a1a;*/
	font-weight: bold;
	color: #00b3b3;
}

#legal {
	margin: 0 auto;
	text-align: right;
	font-size: 12px;
}

#brand {
	margin: -35px auto 0 auto;
	padding: 10px 0 0 35px;
	background: url(images/img09.gif) no-repeat left top;
	/*background: #001a1a;*/
	letter-spacing: -1px;
	font-size: 24px;
}